@model System.Collections.Generic.List<Confocal.Data.TalkReaction>

@{
    ViewBag.Title = "Reactions";
}
<table>
    <tr>
        <th style="text-align: center;">Did you<br />enjoy it?</th>
        <th style="text-align: center;">Did you<br /> learn anything?</th>
        <th>One thing you liked about the talk:</th>
        <th>One idea that could improve the talk:</th>
    </tr>
    @foreach (var reaction in Model) {
        <tr>
            <td style="text-align: center;"><span class="rating @reaction.Enjoy" /></td>
            <td style="text-align: center;"><span class="rating @reaction.Learn" /></td>
            <td>@reaction.OneThingYouLiked</td>
            <td>@reaction.OneIdeaToImprove</td>
        </tr>
    }
</table>