@model dynamic

@{
    ViewBag.Title = "Feedback";
}

<h1>confocal.io</h1>
<p>Simple feedback for user group talks by <a href="http://twitter.com/dylanbeattie">@@dylanbeattie</a></p>
<h2><a href="@Url.Action("Index", "Talks")">Submit Feedback &raquo;</a></h2>

