@model ConjaWeb.Models.FeedbackViewData

@{
    ViewBag.Title = "title";
}
<p>"Domain Architecture Isomorphism: I Fought Conway's Law (and the law won)"</p>
<p>Dylan Beattie</p>
<hr />
<p>Did you enjoy the talk?</p>
<form class="feedback">
    <div>
        <a class="err " href="#" title="I'm really confused now.">&nbsp;</a>
        <a class="sad" href="#" title="It made me unhappy..">&nbsp;</a>
        <a class="zzz " href="#" title="I was falling asleep.">&nbsp;</a>
        <a class="meh " href="#" title="It was OK, I guess">&nbsp;</a>
        <a class="woo " href="#" title="I liked it.">&nbsp;</a>
        <a class="yay " href="#" title="I loved it.">&nbsp;</a>
    </div><div>
        <a class="err active" href="#" title="I'm really confused now'.">&nbsp;</a>
        <a class="sad active" href="#" title="It made me unhappy..">&nbsp;</a>
        <a class="zzz active" href="#" title="I was falling asleep.">&nbsp;</a>
        <a class="meh active" href="#" title="It was OK, I guess">&nbsp;</a>
        <a class="woo active" href="#" title="I liked it.">&nbsp;</a>
        <a class="yay active" href="#" title="I loved it.">&nbsp;</a>
    </div>
</form>