@model dynamic

@{
    ViewBag.Title = "Feedback";
}

<h1>Share your feedback</h1>
<form action="@Url.Action("Feedback", "Talks")" id="code-form">
    <input type="text" name="code" placeholder="code" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
    <input type="submit" value="Go!" />
</form>
<p>Good feedback helps our speakers improve.</p>
<p>Please be honest (and be nice!)</p>

